.container {
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #3a3b3c;
    border-radius: 10px;
}

.subcontainer {
    width: 50%;
}

.text {
    font-size: 18px;
    padding-left: 10%;
    max-width: 100%;
    margin: 20px;
}

#trashContainer {
    border: 2px solid #f30000;
    border-radius: 10px;
    margin: 7px;
    padding-left: 30px;
    padding-right: 30px;
    color: #f30000;
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out;
}

#trashContainer:hover {
    color: #ffffff;
    background-color: #f30000;
}

#trash {
    margin: 15px;
}

.edit {
    border: 2px solid #7a7b7c;
    border-radius: 10px;
    margin: 7px;
    padding-left: 30px;
    padding-right: 30px;
    color: #7a7b7c;
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out;
}

#pencil {
    margin-top: 80%;
}

.edit:hover {
    color: #ffffff;
    background-color: #7a7b7c;
}

.form {
    width: 100%;
    margin: 7px;
}

.form form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.input {
    text-align: center;
    border: 2px solid #3a3b3c;
    border-radius: 4px;
    background-color: #181818;
    color: #ffffff;
    font-size: 18px;
    max-width: 100%;
    margin: 20px;
}

#in {
    margin-left: 1%;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input::placeholder {
    color: #b0b3b8;
    text-align: center;
}

.input:focus {
    outline: none;
    color: #ffffff;
    text-align: center;
}

.submit {
    text-align: center;
    border: 2px solid #7a7b7c;
    border-radius: 4px;
    background-color: #181818;
    color: #7a7b7c;
    font-size: 18px;
    width: 100%;

    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out;
}

.submit:hover {
    color: #ffffff;
    background-color: #7a7b7c;
}
